/* Colors definition */
:root{
     /* named colors */
    --black: #1c2125;
    --lime: #d5f31f;
    --white: #ffffff;
    --green: #029d5b;
    --teal: #053b45;
    --lightgrey: #f4f6f5;

     /* reference colors */
    --color-main: var(--black);
    --color-primary: var(--green);
    --color-secondary: var(--lime);
    --color-background: var(--teal);

    --color-main-reverse: var(--white);

}

body {
  color: #1c2125;
}

.text-color--primary {
  color: #029d5b;
}

.text-color--primary-dark {
  color: #016b3e;
}