:root {
  --black: #1c2125;
  --lime: #d5f31f;
  --white: #ffffff;
  --green: #029d5b;
  --teal: #053b45;
  --lightgrey: #f4f6f5;
  --red: #c26060;
  --color-main: var(--white);
  --color-primary: var(--green);
  --color-secondary: var(--lime);
  --color-background: var(--teal);
  --color-background-highlight: var(--lightgrey);
  --color-highlight: var(--lime);
  --color-highlight--dark: hsl(from var(--color-highlight) h s calc(l - 20));
  --color-invalid: var(--red);
  --color-error: var(--red);
  --color-main--reverse: var(--black);
  --color-background--reverse: var(--white);
  --color-primary--dark: hsl(from var(--color-primary) h s calc(l - 10));
  --color-main--light: hsl(from var(--color-main) h s calc(l + 30));
  --color-main--reverse--light: hsl(from var(--color-main--reverse) h s calc(l + 30));
}

body {
  color: var(--color-main);
  background-color: var(--color-background);
}

.light-background {
  color: var(--color-main--reverse);
  background-color: var(--color-background--reverse);
}

.text-color--primary {
  color: var(--color-primary);
}

.text-color--primary-dark {
  color: var(--color-primary--dark);
}

.background--light {
  background-color: var(--white);
}