header {
  position: fixed;
  z-index: 1;
  width: 100%;
}
header nav {
  display: flex;
  justify-content: space-between;
  padding: 1em 2em;
}
header nav .text-color--primary-dark {
  font-size: 1.5em;
  color: var(--color-primary--dark);
}
header .burger-menu {
  align-items: end;
  height: 2em;
  transition: height 0.05s linear;
}
header .burger-menu:has(> :checked) {
  height: 17em;
}
@media screen and (min-width: 910px) {
  header .burger-menu:has(> :checked) {
    height: 0em;
  }
}
header .burger-menu__open {
  width: 2em;
  height: 2em;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  right: 2em;
  visibility: visible;
}
header .burger-menu__close {
  width: 2em;
  height: 2em;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  right: 2em;
  visibility: hidden;
}
header .burger-menu ul {
  flex-grow: 1;
  justify-content: space-between;
  padding: 0px;
  margin: 0px;
}
header .burger-menu ul menu {
  padding: 0;
  margin: 0;
  text-align: end;
}
header .burger-menu ul menu > a {
  font-weight: bold;
  margin: auto 10px;
  color: var(--color-main--reverse);
}
header .burger-menu__toggle:checked ~ label .burger-menu__open {
  visibility: hidden;
}
header .burger-menu__toggle:checked ~ label .burger-menu__close {
  visibility: visible;
}
header .burger-menu__toggle:checked ~ ul {
  display: flex;
}
@media screen and (max-width: 910px) {
  header .burger-menu__toggle:checked ~ ul {
    margin-top: 2.5em;
  }
}
header .burger-menu__toggle:checked ~ ul menu > a {
  color: var(--color-main--reverse);
}

.landing {
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: hidden;
}
.landing img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  filter: none;
  transition-property: filter;
  transition-timing-function: ease-in-out;
  transition-duration: 0.5s, 0.75s;
}
@media screen and (min-width: 910px) {
  .landing img:hover, .landing img:has(~ :hover) {
    filter: blur(8px);
  }
  .landing img:hover ~ * h1, .landing img:has(~ :hover) ~ * h1 {
    text-shadow: 4px 6px 10px #000;
  }
}
.landing div {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 0px;
}
@media screen and (min-width: 910px) {
  .landing div {
    right: 0px;
    bottom: 0px;
    padding: 4em 6em;
    align-items: flex-end;
    justify-content: flex-end;
  }
}
.landing h1 {
  margin: 0 0 20px 0;
  color: var(--color-main-reverse);
  text-shadow: 0 0 0 transparent;
  transition-property: text-shadow;
  transition-timing-function: ease-in-out;
  transition-duration: 0.5s, 0.75s;
}

.team img {
  width: 10em;
  height: 10em;
  margin: 0 auto;
  border: 0 none #fff;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.team__portrait {
  max-width: 11em;
  align-self: center;
  color: var(--color-main--reverse--light);
}

.statistics h2 {
  margin: 0.25em auto;
}
.statistics p {
  margin: 0 auto;
  font-size: larger;
  font-weight: bolder;
}

.services div {
  margin: 0 auto;
}
.services h3 {
  font-size: x-large;
}
.services__rounded-background {
  width: 25vw;
  aspect-ratio: 1;
  max-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
  background-color: var(--color-background-highlight);
}
.services__rounded-background img {
  width: 45%;
  -o-object-fit: contain;
     object-fit: contain;
}

.contact .cta {
  margin-top: 2em;
  margin-right: 1em;
  margin-bottom: 6em;
  align-self: flex-end;
}

.about > .row {
  justify-content: space-between;
}
.about .col-50 {
  justify-content: space-evenly;
  width: calc(50% - var(--margin-horizontal) / 4);
}
@media screen and (max-width: 910px) {
  .about .col-50 {
    width: 100%;
    margin-bottom: 1em;
  }
}
.about .border {
  border-radius: 20px;
  box-sizing: border-box;
}
.about .border__visible {
  border: 1px solid var(--color-background);
  padding: 1.5em;
}
.about img.border {
  -o-object-fit: cover;
     object-fit: cover;
}
.about .highlight-icon {
  margin-top: 0.5em;
  justify-content: center;
  align-items: center;
}
.about .highlight-icon h4 {
  color: var(--color-background);
  font-size: smaller;
}

.gallery img {
  margin-top: 1.2em;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 10px;
}
.gallery .icon {
  width: 2em;
  border-width: 2px;
}
@media screen and (min-width: 910px) {
  .gallery .prev:hover {
    background-color: hsl(from var(--color-main) h s calc(l - 10));
  }
  .gallery .next:hover {
    background-color: hsl(from var(--color-main--reverse) h s calc(l + 10));
  }
}
.gallery .prev:active {
  background-color: hsl(from var(--color-main) h s calc(l - 10));
}
.gallery .next:active {
  background-color: hsl(from var(--color-main--reverse) h s calc(l + 10));
}
.gallery .next {
  background-color: var(--color-main--reverse);
  border-color: var(--color-highlight);
  color: var(--color-highlight);
}
.gallery__controls {
  justify-content: space-between;
  margin-bottom: 2em;
}

.general-info {
  text-align: left;
}
.general-info h3 {
  margin: auto auto 1em 0;
}
.general-info p {
  font-size: small;
  color: var(--color-main--dark);
  margin: auto 0;
}
.general-info div:has(> img) {
  margin-bottom: 1em;
}
.general-info div:has(> img) img {
  width: 1em;
  margin-right: 1em;
}
@media screen and (max-width: 910px) {
  .general-info .responsive.change {
    flex-direction: row;
  }
  .general-info .responsive.change .row {
    width: 50%;
    justify-content: center;
    margin-bottom: 0;
  }
}

.copy-sn {
  color: var(--color-main--dark);
}
.copy-sn h6 {
  text-align: left;
  font-size: smaller;
  font-weight: lighter;
  flex-grow: 1;
  margin: 0 auto;
}
.copy-sn > .row {
  align-items: center;
}
.copy-sn a {
  border: 1px solid var(--color-main--dark);
  border-radius: 7px;
  width: 1em;
  height: 1em;
  margin: 0 0.5em;
  padding: 0.33em;
  align-content: center;
}
.copy-sn img {
  filter: invert(1);
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 910px) {
  .copy-sn .responsive.change {
    justify-items: center;
    flex-direction: column;
  }
}