// Colors definition
:root{
    // named colors
    --black: #1c2125;
    --lime: #d5f31f;
    --white: #ffffff;
    --green: #029d5b;
    --teal: #053b45;
    --lightgrey: #f4f6f5;

    // reference colors
    --color-main: var(--black);
    --color-primary: var(--green);
    --color-secondary: var(--lime);
    --color-background: var(--teal);

    --color-main-reverse: var(--white);

    --color-primary--dark: hsl(from var(--color-primary) h s calc(l - 10));
    --color-main--light: hsl(from var(--color-main) h s calc(l + 30));
    // ? Why the following code is not doable ?
    // --color-primary--dark: #{darken(var(--color-primary), 10%)};
    // --color-main--light: #{lighten(var(--color-main), 30%)};
}


body {
    color: var(--color-main);

    background-color: var(--color-background);
}

.text-color--primary {
    color: var(--color-primary);
}

.text-color--primary-dark {
    color: var(--color-primary--dark);
}

.background--light {
    background-color: var(--white);
}