header {
    position: fixed;
    z-index: 1;
    width: 100%;

    nav {
        display: flex;
        justify-content: space-between;
        padding: 1em 2em;

        &>a {
            font-size: 1.5em;
        }
    }

    .burger-menu {
        align-items: end;

        height: 2em;
        transition: height 0.05s linear;

        &:has(> :checked) {
            height: 17em;

            @media screen and (min-width: 910px) {
                height: 0em;
            }
        }

        &__open,
        &__close {
            width: 2em;
            height: 2em;
            object-fit: contain;
            position: absolute;
            right: 2em;
        }

        &__open {
            visibility: visible;
        }

        &__close {
            visibility: hidden;
        }

        ul {
            flex-grow: 1;
            justify-content: space-between;
            padding: 0px;
            margin: 0px;

            menu {
                padding: 0;
                margin: 0;
                text-align: end;

                &>a {
                    font-weight: bold;
                    margin: auto 10px;

                    color: var(--color-main--reverse)
                }
            }
        }

        // Burger menu open behaviour
        &__toggle:checked {
            &~label .burger-menu__open {
                visibility: hidden;
            }

            &~label .burger-menu__close {
                visibility: visible;
            }

            &~ul {
                display: flex;

                @media screen and (max-width: 910px) {
                    margin-top: 2.5em;
                }
            }
        }
    }
}

.landing {
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    max-height: 100%;

    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;

    img {
        object-fit: cover;
        width: 100%;
        height: 100%;

        filter: none;
        transition-property: filter;
        transition-timing-function: ease-in-out;
        transition-duration: 0.5s, 0.75s;

        @media screen and (min-width:910px) {

            &:hover,
            &:has(~ :hover) {
                filter: blur(8px);

                ~* {
                    h1 {
                        text-shadow: 4px 6px 10px #000;
                    }
                }
            }
        }
    }

    div {
        position: absolute;

        display: flex;
        flex-direction: column;

        bottom: 0px;

        @media screen and (min-width:910px) {
            right: 0px;
            bottom: 0px;
            padding: 4em 6em;
            align-items: flex-end;
            justify-content: flex-end;
        }
    }

    h1 {
        margin: 0 0 20px 0;
        color: var(--color-main-reverse);

        text-shadow: 0 0 0 transparent;
        transition-property: text-shadow;
        transition-timing-function: ease-in-out;
        transition-duration: 0.5s, 0.75s;
    }
}

.team {
    img {
        width: 10em;
        height: 10em;

        margin: 0 auto;

        border: 0 none #fff;
        border-radius: 50%;

        object-fit: cover;
    }

    &__portrait {
        max-width: 11em;
        align-self: center;
        color: var(--color-main--reverse--light);
    }
}

.statistics {
    h2 {
        margin: 0.25em auto;
    }

    p {
        margin: 0 auto;

        font-size: larger;
        font-weight: bolder;
    }
}

.services {
    div {
        margin: 0 auto;
    }

    h3 {
        font-size: x-large;
    }

    &__rounded-background {
        width: 25vw;
        aspect-ratio: 1;
        max-width: 300px;

        display: flex;
        justify-content: center;
        align-items: center;

        border-radius: 10%;
        background-color: var(--color-background-highlight);

        img {
            width: 45%;
            object-fit: contain;
        }
    }
}

.contact {
    .cta {
        margin-top: 2em;
        margin-right: 1em;
        margin-bottom: 6em;
        align-self: flex-end;
    }
}

.about {
    &>.row {
        justify-content: space-between;
    }

    .col-50 {
        justify-content: space-evenly;
        width: calc(50% - var(--margin-horizontal) / 4);

        @media screen and (max-width: 910px) {
            width: 100%;
            margin-bottom: 1em;
        }
    }

    .border {
        border-radius: 20px;
        box-sizing: border-box;

        &__visible {
            border: 1px solid var(--color-background);
            padding: 1.5em;
        }
    }

    img.border {
        object-fit: cover;
    }

    .highlight-icon {
        margin-top: 0.5em;
        justify-content: center;
        align-items: center;

        h4 {
            color: var(--color-background);
            font-size: smaller;
        }
    }
}

.gallery {
    img {
        margin-top: 1.2em;
        width: 100%;
        object-fit: contain;
        border-radius: 10px;
    }

    .icon {
        width: 2em;
        border-width: 2px;
    }

    @media screen and (min-width:910px) {
        .prev:hover {
            background-color: hsl(from var(--color-main) h s calc(l - 10));
        }

        .next:hover {
            background-color: hsl(from var(--color-main--reverse) h s calc(l + 10));
        }
    }

    .prev:active {
        background-color: hsl(from var(--color-main) h s calc(l - 10));
    }

    .next:active {
        background-color: hsl(from var(--color-main--reverse) h s calc(l + 10));
    }

    .next {
        background-color: var(--color-main--reverse);
        border-color: var(--color-highlight);
        color: var(--color-highlight);
    }

    &__controls {
        justify-content: space-between;
        margin-bottom: 2em;
    }
}

.general-info {
    text-align: left;

    h3 {
        margin: auto auto 1em 0;
    }

    p {
        font-size: small;
        color: var(--color-main--dark);
        margin: auto 0;
    }

    div:has(> img) {
        margin-bottom: 1em;

        img {
            width: 1em;
            margin-right: 1em;
        }
    }

    @media screen and (max-width: 910px) {
        .responsive.change {
            flex-direction: row;

            .row {
                width: 50%;
                justify-content: center;
                margin-bottom: 0;
            }
        }
    }
}

.copy-sn {
    color: var(--color-main--dark);

    h6 {
        text-align: left;
        font-size: smaller;
        font-weight: lighter;
        flex-grow: 1;
        margin: 0 auto;
    }

    >.row {
        align-items: center;
    }

    a {
        border: 1px solid var(--color-main--dark);
        border-radius: 7px;

        width: 1em;
        height: 1em;

        margin: 0 0.5em;
        padding: 0.33em;

        align-content: center;
    }

    img {
        filter: invert(1);
        object-fit: contain;
        width: 100%;
        height: 100%;
    }

    @media screen and (max-width: 910px) {
        .responsive.change {
            justify-items: center;
            flex-direction: column;
        }
    }
}