@import url(style.css);

header {
    position: fixed;
    z-index: 1;
    width: 100%;

    nav {
        display: flex;
        justify-content: space-between;
        padding: 1em 2em;
    }

    nav>a {
        font-size: 1.5em;
    }

    a {
        font-weight: bold;
    }

    div {
        align-items: center;
    }

    div {
        a {
            margin: auto 10px;
        }
    }
}

// ? Posible to use --max-width instead of 1200px ?
@media screen and (min-width: 1200px) {
    .landing {
        height: 100vh;
        width: 100vw;

        // ? Why is this required ?
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: hidden;

        img {
            object-fit: cover;
            height: 100%;
        }
    }
}

.landing {
    position: relative;
    width: 100%;
    margin: 0;

    // ? Why can't I do it like this ? (big size horizontal scroll)
    // @media screen and (min-width: 1200px) {
    //     height: 100vh;
    //     width: 100vw;

    //     // ? Why is this required ?
    //     box-sizing: border-box;
    //     overflow-x: hidden;
    //     overflow-y: hidden;

    //     img {
    //         object-fit: cover;
    //         height: 100%;
    //     }
    // }

    img {
        width: 100%;
    }

    div {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;

        right: 0px;
        bottom: 0px;
        margin: 4em 6em;
    }

    h1 {
        margin: 0 0 20px 0;
        color: var(--color-main-reverse);
    }
}

.team {
    padding: 1em 0;

    &>h3 {
        margin: 0 3em;
        max-width: var(--max-width);
    }

    @media screen and (min-width: 1200px) {
        &>h3 {
            margin: 0 auto;
        }
    }

    &>div {
        margin: 4em auto;
    }

    img {
        width: 10em;
        height: 10em;

        margin: 0 auto;

        border: 0 none #fff;
        border-radius: 50%;

        object-fit: cover;
    }

    p {
        margin: 0 auto;
        max-width: 12em;
        font-size: smaller;
        color: var(--color-main--reverse--light);
    }
}

.statistics {
    margin: 3em 6em;

    h2 {
        margin: 0.25em auto;
    }

    p {
        margin: 0 auto;

        font-size: larger;
        font-weight: bolder;
    }
}

.services {
    padding: 1em 0;

    .row{
        justify-content: space-evenly;
        margin: 3em auto;
    }

    div {
        margin: 0 auto;
    }

    &__rounded-background {
        width: 25vw;
        aspect-ratio: 1;
        max-width: 300px;

        display: flex;
        justify-content: center;
        align-items: center;

        border-radius: 10%;
        background-color: var(--color-background-highlight);

        img {
            width: 45%;
            object-fit: contain;
        }
    }

    h3 {
        font-size: x-large;
    }
}