:root{
    --max-width: 1200px;
}

body {
    margin: 0;
}

section {
    overflow: auto;
}


h1 {
    font-size: 2em;
    color: var(--color-main);

    &>em {
        font-size: 1.5em;
        font-weight: 700;
        font-style: normal;
    }
}

h2 {
    margin-top: 1.5em;
    font-size: 2.5em;
    color: var(--color-secondary);

    &>em {
        font-size: 1.2em;
        font-weight: 700;
        font-style: normal;
    }
}

.light-background h2 {
    color: var(--color-primary);
}

em {
    color: var(--color-secondary);
}

a {
    color: var(--color-main);
    text-decoration: none;
}

.light-background{
    a {
        color: var(--color-main--reverse);
    }
}

.row, .row-reverse, .column, .column-reverse {
    display: flex;
    flex-wrap: wrap;
}

.row-reverse {
    flex-direction: row-reverse;
}

.column {
    flex-direction: column;
}

.column-reverse {
    flex-direction: column-reverse;
}

// Prevents size to be bigger than 1200px for container, to prevent scaling getting too huge
.container {
    max-width: var(--max-width);
    margin: 0 auto;
}

// Columns
// 1 column element
.col-100 {
    width: 100%;
}

// 2 columns element
.col-50 {
    width: 50%;
}

// 3 columns element
.col-33 {
    width: 33%;
}

// 4 columns element
.col-25 {
    width: 25%;
}