:root {
    --max-width: 1200px;
}

body {
    margin: 0;
}

section {
    overflow: auto;
}


h1 {
    font-size: 2em;
    color: var(--color-main);

    &>em {
        font-size: 1.5em;
        font-weight: 700;
        font-style: normal;
    }
}

h2 {
    margin-top: 1.5em;
    font-size: 2.5em;
    color: var(--color-secondary);

    &>em {
        font-size: 1.2em;
        font-weight: 700;
        font-style: normal;
    }
}

.light-background h2 {
    color: var(--color-primary);
}

em {
    color: var(--color-highlight);
}

a {
    color: var(--color-main);
    text-decoration: none;
}

.light-background {
    a {
        color: var(--color-main--reverse);
    }
}

.cta {
    font-weight: bold;
    color: var(--color-background);

    background-color: var(--color-highlight);

    min-width: 10em;
    min-height: 3em;
    border-radius: 1.5em;
    border: 0 none transparent;
    outline: none;
}

.cta:hover {
    background-color: var(--color-highlight--dark);
}

form {
    $internal-horizontal-margin: 2em;

    .col-100 {
        width: calc(100% - $internal-horizontal-margin);
        max-width: var(--max-width);
    }

    .col-50 {
        width: calc(50% - $internal-horizontal-margin);
    }

    .form__element {
        margin-left: auto;
        margin-right: auto;
        margin-top: 2em;
        margin-bottom: 0;

        border-bottom: 3px solid var(--color-main);
    }

    .form__element:has( > :invalid:focus){
        border-bottom: 3px solid var(--color-invalid);
    }

    .form__element:has( > :valid:focus){
        border-bottom: 3px solid var(--color-highlight);
    }

    label {
        font-size: smaller;
        align-self: center;
        text-align: left;
        width: 5em;
    }

    input[type="tel"],
    input[type="text"],
    input[type="password"],
    input[type="email"],
    textarea {
        border: 0 none transparent;
        outline: none;
        background-color: var(--color-background);

        font-family: "Poppins", sans-serif;
        font-size: larger;
        color: var(--color-main);

        flex-grow: 1;
    }

    label:has(+ textarea) {
        align-self: flex-start;
    }
}

.row,
.row-reverse,
.column,
.column-reverse {
    display: flex;
    flex-wrap: wrap;

    flex-direction: row;
}

.row-reverse {
    flex-direction: row-reverse;
}

.column {
    flex-direction: column;
}

.column-reverse {
    flex-direction: column-reverse;
}

// Prevents size to be bigger than 1200px for container, to prevent scaling getting too huge
.container {
    max-width: var(--max-width);
    margin: 0 auto;
}

// Columns
// 1 column element
.col-100 {
    width: 100%;
}

// 2 columns element
.col-50 {
    width: 50%;
}

// 3 columns element
.col-33 {
    width: 33%;
}

// 4 columns element
.col-25 {
    width: 25%;
}